body {
    margin: 0;
    padding: 0;
    background: #030c5c49;

}

table {
    // display: none;
    text-align: center;
    border: none;
    a {
        text-decoration: none;
        color: black;
        padding: 2px 10px;
        background: #aaaaaa49;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        &:hover {
            color: rgb(0, 0, 0);
            box-shadow:  4px 4px 10px black;
        }
    }
    .login {
        text-transform: capitalize;
        &:hover {
            box-shadow: 0 0 10px ;
            border-radius: 10px;
            
        }
    }
    .type {
        &:hover {
            background: rgba(255, 255, 255, 0.418);
            box-shadow: 0 0 10px ;
            border-radius: 10px;
        }
    }
   .topUp {
    color: red;
   }
   
}
