body {
  margin: 0;
  padding: 0;
}
table {
  text-align: center;
  border: none;
}
table .tds {
  background: #63771b;
  color: white;
}
table a {
  text-decoration: none;
  color: black;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
table a:hover {
  color: #000000;
  box-shadow: 4px 4px 10px black;
}
table .login {
  text-transform: uppercase;
}
table .login:hover {
  background: grey;
  border-radius: 5px;
  color: #ffffff;
}
table .type:hover {
  background: rgba(255, 255, 255, 0.418);
  box-shadow: 0 0 10px ;
  border-radius: 10px;
}
table .topUp {
  color: red;
}
#box {
  display: none;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  background: #b3b3b39c;
  position: relative;
  position: absolute;
  top: 2%;
  left: 2%;
  animation: box linear 0.5s;
  transition: all ease 0.8s;
  border-radius: 5px;
  box-shadow: 0 0 10px ;
}
#box i {
  position: absolute;
  right: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
#box i:hover {
  animation: Xmark linear 0.5s;
}
@keyframes box {
  from {
    transform: translate(160px);
    transition: all ease 0.8s;
    background: #aaaaaa00;
  }
}
@keyframes Xmark {
  from {
    transform: rotate(180deg);
    transition: all ease 0.8s;
  }
}
